# raw data
data/

# local backup files
*.BAK

# vim swap files
*.swp
*.swo

# extra large files
*.bag

# CodeBlocks temporary files
*.layout
*.depend

# PyCharm bullshit
.idea

# python cache
*.pyc

# tmuxinator cache
.tmuxinator.yml

# other data files
*.pdf

# Catkin bullshit
.catkin_tools

# build related files
obj/
objs/
build/

# weight files (too large to be included)
*.weights*

# testing images, videos etc.
*.jpg
*.jpeg
*.gif
*.avi
*.mpg
*.mpeg
*.mp4
