<launch>
  <arg name="local_username" default="$(optenv USER)"/>
  
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch"/>
    
  <arg name="profile" default="false" />
  <arg unless="$(arg profile)" name="launch_prefix_profile" value=""/>
  <arg     if="$(arg profile)" name="launch_prefix_profile" value="valgrind --tool=callgrind --callgrind-out-file='callgrind.out.%p'"/>
  <arg name="difec_node" default="formation_control"/>

  <arg name="process_rate" value="20.0"/>
  <arg name="formation_file_location"/>
  <arg name="initial_formation_file" value="formation_a.csv"/>

  <group ns="error_calculator">
    <!-- <node name="formation_error_calclulator" pkg="difec_ron" type="FormationErrorCalculator" output="screen" > --> 
    <node name="formation_error_calclulator" pkg="difec_ron" type="FormationErrorCalculator" output="screen" launch-prefix="$(arg launch_prefix) $(arg launch_prefix_profile)"> 
      <rosparam param="uav_list" subst_value="true"> ["uav11", "uav12", "uav14"] </rosparam>
      <param name="common_frame" type="string" value="global_gps"/>
      <param name="formation_controller_node" type="string" value="$(arg difec_node)"/>
      <param name="formation_file_location" type="string" value="$(arg formation_file_location)"/>
      <param name="initial_formation_file" type="string" value="$(arg initial_formation_file)"/>
      <!-- <param name="local_username" type="string" value="$(arg local_username)"/> -->
      <param name="process_rate" type="double" value="$(arg process_rate)"/>
    </node>
  </group>
</launch>
