<launch>

  <node pkg="multireconfigure" type="multireconfigure.py" name="formation_multireconfigure" output="screen" >

    <rosparam param="dynparam_topics">[
      "/uav11/formation_control",
      "/uav12/formation_control",
      "/uav14/formation_control",
      ]
    </rosparam>

  </node>

</launch>
