<launch>

  <node pkg="multireconfigure" type="multireconfigure.py" name="formation_multireconfigure" output="screen" >

    <rosparam param="dynparam_topics">[
      "/uav1/formation_control",
      "/uav2/formation_control",
      "/uav3/formation_control",
      ]
    </rosparam>

  </node>

</launch>
